body {
    font-family: "Poppins", monospace;
    background-color: #263238;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.logo {
    font-size: 20px;
    font-family: monospace;
    color: #4c6772;
}

a {
    padding: 20px;
    text-decoration: none;
    color: #4c6772;
}

a:hover {
    color: #80cbc4;
}

.active {
    color: #80cbc4;
}

#container {
    padding-left: 300px;
    padding-right: 150px;
    padding-top: 130px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#navbar {
    padding-left: 300px;
    position: relative;
    right: 16px;
    font-size: 20px;
}

#name {
    color: #e6edf3;
    font-size: 50px;
}

#desc {
    position: relative;
    left: 5px;
}

#iam {
    color: #e6edf3;
}

#typing {
    color: #80cbc4;
}